---
import Social from "./Social.astro"
---

<footer>
    <p>Apprenez-en plus sur mes projects sur 
        <Social platform="github" username="yastacode"/>
        <Social platform="linkedin" username="feed"/>
        <Social platform="youtube" username="@jesuscordova7818"/>
    </p>
</footer>