---
const platform = "github";
const username = "YastaCode"
---

<footer>
    <p>Apprenez-en plus sur mes projects sur <a href={`https://www.${platform}.com/${username}`} target="_blank">{platform}</a></p>
</footer>